<div class="content">
    <div class="container">
        <h1 class="greeting" style="text-align:center;">Vous êtes connecté
            <img style="vertical-align: middle;" src="https://img.icons8.com/color/50/000000/checked-checkbox.png"/>
        </h1>
        
        <h3 style="text-align: center">
            Bonjour <b><span class="user-identifier"> {{session.identity.traits.name.first}}</span></b> !
        </h3>

        <div class="settings">
            <a href="{{pathPrefix}}settings">
                {{> button_settings}}
            </a>
        </div>
        <div class="logout">
            <a href="{{logoutUrl}}">
                {{> button_sign_out}}
            </a>
        </div>
        
    </div>
</div>
