<div class="content">
    {{> header}}
    <div class="container">
        <h2 class="greeting">Bon retour parmis nous 
            <span class="user-identifier"> {{session.identity.traits.first}}</span>
        </h2>
        <p>
            Tu peux dès à présent retrouver tes notes.
        </p>
        
    </div>
</div>
