<div class="content">
    <div class="container">
        <h2 class="greeting" style="text-align: center">Connexion réussie
            <img src="https://img.icons8.com/color/50/000000/checked-checkbox.png"/>
        </h2>
        <h3 style="text-align: center">
            Bonjour <span class="user-identifier"> {{session.identity.traits.first}}</span> !
        </h3>
        <h4 style="text-align: center">
            Tu peux dès à présent accéder à tes notes.
        </h4>
        
    </div>
</div>
