<div class="content">
    <div class="container">
        <h2 style="text-align: center">Une erreur est apparue 
            <img src="https://img.icons8.com/emoji/48/000000/cross-mark-button-emoji.png"/>
        </h2>
        <pre><code>{{message}}</code></pre>
        <h4 style="text-align: center">Si tu n'es pas la cause de cette erreur,<br>
            tu peux contacter 
            <bold style="color:cornflowerblue;">leo.rolland@etudiant.univ-rennes1.fr</bold>
        </h4>
    </div>
</div>
