<div class="auth">
    <div class="container" id="login">
        <img src="https://avatars.githubusercontent.com/u/69384459?s=280&v=4"  width="40%" height="40%" >
        <h2 class="subheading">Bienvenue sur Noxunote !</h2>

        {{> messages messages=messages className="global"}}

        <div id="ui">
            {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="auth/registration">Recover password</a> -->
            <a href="{{pathPrefix}}auth/registration">Créer un nouveau compte</a>
            <a href="{{pathPrefix}}recovery">Réinitialiser le mot de passe</a>
        </div>
    </div>
</div>
