<div class="auth">
    <div class="container" id="login">
        {{> icon_logo}}
        <h2 class="subheading">Bienvenue sur Noxunote !</h2>

        {{> messages messages=messages className="global"}}

        <div id="ui">
            {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="auth/registration">Recover password</a> -->
            <a href="{{pathPrefix}}auth/registration" style="text-align: center">Créer un nouveau compte</a>
            <a href="{{pathPrefix}}recovery" style="text-align: center">Réinitialiser le mot de passe</a>
        </div>
    </div>
</div>
