<div class="content">
    {{!-- {{> header}} --}}
    <div class="container" id="recovery">
        <h1>Récupération du compte
          <img style="vertical-align:middle;" src="https://img.icons8.com/office/40/000000/hospital-3.png"/>
        </h1>
        <h3>Nous vous enverrons directement votre nouveau mot de passe.</h3>

        {{> messages messages=messages className="global"}}

        <div id="ui">
          {{> ui submitLabel="Send recovery link" ui=ui}}
        </div>
    </div>
</div>
