<div class="auth">
    <div class="container" id="registration">
        <h1 class="subheading">Inscription
            <img style="vertical-align:middle;" src="https://img.icons8.com/dusk/64/000000/edit-user-male.png"/>
            <h2 class="subheading">
                Veuillez remplir le formulaire :
            </h2>
        </h1>

        {{> messages messages=messages className="global"}}

        <div id="ui">
          {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <a href="{{pathPrefix}}auth/login" style="margin: auto;">Déjà un compte ?</a>
        </div>
    </div>
</div>
