<div class="auth">
    <div class="container" id="registration">
        {{> icon_logo}}
        <h5 class="subheading">Bienvenue à toi petit nouveau :)<br/>
            Il te faut remplir le formulaire ci-dessous : </h5>

        {{> messages messages=messages className="global"}}

        <div id="ui">
          {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <a href="{{pathPrefix}}auth/login">Déjà un compte ? Connexion</a>
        </div>
    </div>
</div>
