<div class="auth">
    <div class="container" id="registration">
        {{> icon_logo}}
        <h2 class="subheading">Bienvenue à toi :)
            <h5 class="subheading">
                Pour continuer, il te suffit de remplir le formulaire ci-dessous :
            </h5>
        </h2>

        {{> messages messages=messages className="global"}}

        <div id="ui">
          {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <a href="{{pathPrefix}}auth/login" style="margin: auto;">Déjà un compte ? Connexion</a>
        </div>
    </div>
</div>
