<div class="content">
  {{!-- {{> header}} --}}
  <div class="container" id="settings">
    <h1>Paramètres
      <img style="vertical-align:middle;" src="https://img.icons8.com/dusk/64/000000/settings-3.png"/>
    </h1>

    {{> messages messages=messages className="global" }}

    <form action="{{ui.action}}" method="{{ui.method}}">
      {{> messages messages=ui.messages }}

      {{> ui_nodes nodes=ui.nodes only="default" }}

      <p>Profil</p>
      {{> ui_nodes nodes=ui.nodes only="profile" }}

      {{#if (onlyNodes ui.nodes "password")}}
        <hr class="divider">
        <p>Mot de passe</p>
        {{> ui_nodes nodes=ui.nodes only="password" }}
      {{/if}}

      {{#if (onlyNodes ui.nodes "oidc")}}
        <hr class="divider">
        <p>Connexion via un réseau social</p>
        {{> ui_nodes nodes=ui.nodes only="oidc" }}
      {{/if}}
    </form>
  </div>
</div>
