<div class="content">
    {{!-- {{> header}} --}}
    <div class="container">
        <h2>Vérification de l'adresse email.</h2>

        {{> messages messages=messages className="global"}}

        {{#if (eq state "passed_challenge")}}
            <p>Succès de la vérification!</p>
        {{/if}}

        <div id="ui">
          {{> ui submitLabel="Resend verification link" ui=ui}}
        </div>
    </div>
</div>
